@import "tailwindcss";

@theme {
  --animate-fade-in-down: fade-in-down 1s ease-out;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family property removed to let layout.tsx control it via Outfit */
}
